/* Directory Table */ 
.tableStyle {
    display: flex;
    justify-content: center;
}

.tableStyle th, .tableStyle td {
    padding: 1.25rem 4rem;
}

/* react-strap-table uses a lot of Bootstrap classes,
    I'm not using BS, but I will borrow those classes! */
.tableStyle .react-strap-table {
    border-radius: 0.25rem;
    box-shadow: 2px 3px 7px #7a7a7a;
    border: 2px solid #7a7a7a;
    margin: 2rem 0;
} 
.float-left {
    text-align: center;
    margin: 1rem 0 0 1.75rem;
}
ul.pagination {
    text-align: center;
}
ul.pagination li {
    cursor: pointer;
    display: inline-block;
    margin: 1rem 2rem;
}
ul.pagination li:hover {
    font-weight: 700;
    border-bottom: 2px solid #e75a7c;
    margin-bottom: -2px;
}

/* Search Form - more BS class riffing */ 
.form-control {
    display: block;
    margin: 1.5rem auto;
    font-size: 0.9rem;
    padding: 0 0.75rem;
    box-shadow: 2px 3px 7px #7a7a7a;
    border: 2px solid #7a7a7a;
    border-radius: 0.25rem;
}
input:focus {
    outline: none;
    border: 2px solid #e75a7c;
    box-shadow: 2px 8px 7px #7a7a7a;
}