/* Search */ 
.searchStyle {
    display: flex;
    justify-content: center;
    margin: 1.5rem;
}
.searchStyle input, .searchStyle button {
    font-size: 0.9rem;
    padding: 0.35rem 0.75rem;
    box-shadow: 2px 3px 7px #7a7a7a;
    border: 2px solid #7a7a7a;
}
.searchStyle input {
    border-radius: 4px 0 0 4px;
}
.searchStyle button {
    border-radius: 0 4px 4px 0;
    background-color: #17a2b8;
    color: #fff;
}
.searchStyle input:focus {
    outline: none;
    box-shadow: 2px 8px 7px #7a7a7a;
}
.searchStyle button:hover, .searchStyle button:focus {
    outline: none;
    background-color: #e75a7c;
    box-shadow: 2px 8px 7px #7a7a7a;
    cursor: pointer;
}